<%- include('../layouts/adminHeader.ejs')%>

<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Banners</h2>
                <div>
                    <a class="btn btn-md rounded font-sm hover-up" href="/admin/addBanner"  type="button">Add Banner</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
               
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                    </th>
                                    <th>Banner</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% banners.forEach(banner => { %>
                                <tr>
                                    <td class="text-center">
                                    </td>
                                    <td  class="tooltip-ellipsis"><b><img class="img-fluid" src="../banner-images/<%= banner.image %>" style="width: 350px; height: 150px;"></b></td>
                                    <td  class="tooltip-ellipsis"><%=banner.title %></td>
                                    <td><%=banner.link %> </td>
                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <!-- <a class="dropdown-item" href="/admin/editCategory?id=<%=banner._id %>">Edit info</a> -->
                                                <a class="dropdown-item" href="/admin/deleteBanner?id=<%=banner._id %>">Delete</a>
                                                   
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

<%- include('../layouts/adminFooter.ejs')%>